<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>themeID</key>
		<integer>0</integer>
		<key>themeName</key>
		<string>normal</string>
		<key>configPath</key>
		<string>/res/themes/normal/config.plist</string>
		<key>themePath</key>
		<string>/res/themes/normal/res</string>
	</dict>
	<dict>
		<key>themeID</key>
		<integer>1</integer>
		<key>themeName</key>
		<string>night</string>
		<key>configPath</key>
		<string>/res/themes/night/config.plist</string>
		<key>themePath</key>
		<string>/res/themes/night/res</string>
	</dict>
</array>
</plist>
